{{define "Index"}}
{{template "_head"}}

<body>

    {{template "_menu"}}

    <main role="main" class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text
                and a mostly barebones HTML document.</p>
        </div>

    </main>
    <!-- /.container -->

    {{template "_footer"}}
</body>

</html>
{{end}}
